
.fade-in-container {
  position: relative;
}

.fade-in-animation.ng-enter, .fade-in-animation.ng-leave {
  position: fixed;
  // If using absolute to match sidebar fixed position of 84px plus padding of 15px and 1px border
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh; // 100% of the viewport. Supported by all modern browsers
}

.fade-in-animation.ng-enter {
  -webkit-animation: 0.5s fade-in-animation-enter;
  animation: 0.5s fade-in-animation-enter;
}

.fade-in-animation.ng-leave {
  -webkit-animation: fade-in-animation-leave;
  animation: fade-in-animation-leave;
}

/* standard */
@keyframes fade-in-animation-enter {
  from {
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes fade-in-animation-leave {
  from {
    z-index: 101;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* web kit */
@-webkit-keyframes fade-in-animation-enter {
  from {
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-animation-leave {
  from {
    z-index: 101;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

// NG_REPEAT
.cn-repeat-animation.ng-enter,
.cn-repeat-animation.ng-leave,
.cn-repeat-animation.ng-move {
  position:relative;
}

.cn-repeat-animation.ng-enter {
  -webkit-animation: 0.25s repeat-animation-enter;
  animation: 0.25s repeat-animation-enter;
}

.cn-repeat-animation.ng-leave {
  -webkit-animation: 0.25s repeat-animation-leave;
  animation: 0.25s repeat-animation-leave;
}

.cn-repeat-animation.ng-move {
  -webkit-animation: 0.25s repeat-animation-move;
  animation: 0.25s repeat-animation-move;
}

@keyframes repeat-animation-enter {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-webkit-keyframes repeat-animation-enter {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes repeat-animation-leave {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@-webkit-keyframes repeat-animation-leave {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}

@keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}

@-webkit-keyframes repeat-animation-move {
  from { opacity:0.5; }
  to { opacity:1; }
}