//
// Cards
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.card {
  width: 1220px;
  margin: 2px auto;
}

div.card {
  border: 1px solid #E7E6EB;
  background-color: #fff;
}

// table card is broken out into _cards.scss