//
// Cards
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.card {
  width: 1220px;
  margin: 2px auto;
}

div.card,
div.card-flex {
  border: 1px solid #E7E6EB;
  background-color: #fff;
  border-radius: $border-radius-large;
}

// table card is broken out into _cards.scss
.cn-list {
  > table.card,
  > table.card-flex {
    // fake box shadow, since it (part 1/2)
    border-bottom: 2px solid #DEDEDE;
  }

  table.card,
  table.card-flex {
    background-color: $white;

    thead > tr > th {
      border-bottom: 0;
    }

    tr {
      // fake box shadow, since it (part 2/2)
      border-left: 1px solid $card-table-border-color;
      border-right: 1px solid $card-table-border-color;
    }
  }
}

.cards,
.cards-flex {
  tr, .card {
    border-radius: $border-radius-large;
    // fake box shadow
    border-left: 1px solid #E7E6EB;
    border-right: 1px solid #E7E6EB;
    border-bottom: 2px solid #DEDEDE;

    background-color: #fff;
    margin-bottom: 20px;
    display: block;

    td {
      border: none;
    }
  }
}