tags-input {
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &.flex .tags.form-control {
    float: left;
    width: auto;
    min-width: 50%;
  }

  .host {
    position: relative;
    margin: 0;

    &:active {
      outline: none;
    }

    .btn {
      padding: 7px 15px;
    }
  }

  .form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0 $radii $radii 0;
    background-color: transparent;

    &.active,
    &:active {
      background-color: transparent;
    }
  }


  .autocomplete {
    width: 100%;
  }

  .help-block {
    margin-bottom: 0;

    .has-error & {
      font-weight: 300;
    }
  }
}

.host {
  .tags {
    &.form-control,
    .cn-list &.form-control {
      overflow: hidden;
      word-wrap: break-word;
      height: auto;
      padding: 1px 6px;
    }

    &.focused {
      outline: none;
    }

    .input {
      background-color: inherit;
      border: 0;
      outline: none;
      margin: 6px 2px;
      padding: 0 0 0 5px;
      line-height: 1.8em;
      display: inline-block;
      min-width: 150px;

      &.invalid-tag {
        color: red;
      }

      &::-ms-clear {
        display: none;
      }
    }

    .fa {
      font-size: 10px;
    }
  }
}

.cn-autocomplete-list .list-group-item .schema-form-section {
  .form-control {
    .btn {
      height: auto;
    }
  }
}


.tag-list {
  margin: 2px 0 -2px;
  padding: 0;
  list-style-type: none;

  tags-input & {
    max-width: 100%;
    float: left;
  }
}

.tag-item {
  margin: 2px;
  padding: 3px 20px 3px 4px;
  [disabled] & {
    padding: 3px 4px;
  }
  font-size: 12px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  .tag-list & {
    float: left;
  }

  &.selected {
    opacity: .5;
  }

  &.tag-item-read-only {
    padding-right: 4px;
  }

  tags-input & {
    margin: 0 4px 4px 0;
    padding: 9px 24px 8px 8px;

    &.overflows-to-tooltip {
      cursor: default;
      overflow: visible;
      padding: 0;

      .overflows-to-tooltip {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 9px 24px 8px 8px;
      }
    }

    &.tag-item-read-only {
      padding-right: 8px;
    }
  }

  .remove-button {
    cursor: pointer;
    color: inherit;
    position: absolute;
    top: 3px;
    right: 5px;

    .host & {
      top: 8px;
      right: 8px;
    }
  }

  &.label-block {
    display: block;
    text-align: left;
    margin: 2px 0;
    padding: 9px 6px;
    margin-right: 30px;
    min-height: 30px;

    [disabled] & {
      background: transparent;
    }
  }
}

.tag-overflow-tooltip {
  @include box-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
  background-color: lighten($brand-info, 35%);
  font-size: 11px;
  position: absolute;
  padding: 5px;
  border: 1px solid $brand-info;
  border-radius: 2px;
  margin: 2px;
  display: none;
  bottom: 110%;
  left: 2.5%;
  width: 95%;
  line-height: 1.6;
  white-space: normal;

  &::after {
    content: '';
    border: 6px solid transparent;
    margin-left: -6px;
    border-top-color: $brand-info;
    position :absolute;
    top: 100%;
    left: 50%;
  }
}

.tag-list + .input {
  padding-left: 0;
}
