.cn-dashboard {
  width: $page-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  .table > tbody > tr > td {
    vertical-align: top;
    padding: 0;
  }

  h5, h6 {
    margin-bottom: 20px;
  }

  section {
    margin: 0;
    border: 0;

    .title {
      font-weight: 500;
      text-align: left;
      margin-bottom: 20px;

      &.main {
        color: $azure;
      }
    }
  }

  h5 + .pull-right {
    margin-top: 10px;
  }
}