floating-action-button {
  position: relative;
  bottom: 10px;
  right: 10px;

  z-index: 2000;
  cursor: pointer;

  &.fixed {
    position: absolute;
    top: 183px;
    right: 20px;
    bottom: auto;

    // hack to handle moving fab
    &.upper {
      top: 154px;
    }
  }

  > .btn {
    background-color: $vivid !important;
    // for drop shadow
    box-shadow: 0 1px 8px rgba($black, 0.2);
    transition: .3s;
    height: 52px;
    width: 52px;
    line-height: 52px;

    border-radius: 50%;

    border: none;

    span {
      color: #fff;
      font-size: 30px;
      line-height: 41px;
      font-family: -webkit-pictograph;
    }

    &:hover {
      background-color: lighten($vivid, 10);
      box-shadow: 0 1px 15px rgba($black, 0.3);
    }
  }
}