.icn-back {
  background: url(#{$svg-path}light/icn-back.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-twitter {
  background: url(#{$svg-path}icn-twitter.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook {
  background: url(#{$svg-path}socialmedia/dark-active/icn-facebook.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook-dark {
  background: url(#{$svg-path}socialmedia/light/icn-facebook.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-search {
  background: url(#{$svg-path}dark/icn-search-darker.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-caret {
  background: url(#{$svg-path}dark/icn-dd.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-cog {
  background: url(#{$svg-path}light/icn-settings.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-caret-sm {
  background: url(#{$svg-path}dark/icn-caret-sm.svg);
  width: 10px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
}

.icn-toggle {
  background: url(#{$svg-path}light/switch-on.png) no-repeat;
  width: 24px;
  height: 15px;
  background-size: 24px 15px;
  display: inline-block;
  vertical-align: middle;

  &.disabled {
    background: url(#{$svg-path}light/switch-off.png);
    background-size: 24px 15px;
  }
}

.icn-analyze {
  background: url(#{$svg-path}light/icn-analyze.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-analyze.sm {
  background: url(#{$svg-path}dark/icn-analyze-sm.svg);
  width: 16px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
}

.icn-edit.dark.sm {
  background: url(#{$svg-path}dark/icn-settings-sm.svg);
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.icn-check.sm {
  background: url(#{$svg-path}dark/icn-check.png);
  width: 19px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  // offset for bad img
  margin-top: -4px;
}

/******************************************************
* Icons for tables
*******************************************************/

.icn-sort-caret {
  background: url(#{$svg-path}light/icn-sort-caret.svg);
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 3px;

  &.up {
    transform: rotate(180deg);
  }
}

.icn-mini-menu {
  background: url(#{$svg-path}light/icn-mini-menu.svg);
  width: 8px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 3px;
}

/*******************************************************/