.icn-back {
  background: url(#{$svg-path}light/icn-back.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook {
  background: url(#{$svg-path}icn-twitter.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook {
  background: url(#{$svg-path}socialmedia/dark-active/icn-facebook.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-search {
  background: url(#{$svg-path}dark/icn-search.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-caret {
  background: url(#{$svg-path}dark/icn-dd.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}