.icn-back {
  background: url(#{$svg-path}light/icn-back.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-twitter {
  background: url(#{$svg-path}icn-twitter.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook {
  background: url(#{$svg-path}socialmedia/dark-active/icn-facebook.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-facebook-dark {
  background: url(#{$svg-path}socialmedia/light/icn-facebook.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-search {
  background: url(#{$svg-path}dark/icn-search-darker.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-caret {
  background: url(#{$svg-path}dark/icn-dd.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-cog {
  background: url(#{$svg-path}light/icn-settings.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.icn-caret-sm {
  background: url(#{$svg-path}dark/icn-caret-sm.svg);
  width: 10px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
}


/******************************************************
* Icons for tables
*******************************************************/

.icn-sort-caret {
  background: url(#{$svg-path}light/icn-sort-caret.svg);
  width: 8px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 3px;

  &.up {
    transform: rotate(180deg);
  }
}

.icn-mini-menu {
  background: url(#{$svg-path}light/icn-mini-menu.svg);
  width: 8px;
  height: 7px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 3px;
}

/*******************************************************/