/************************************************************************
NAVBAR
************************************************************************/

.navbar-default {
  background: $top-main-nav-bg;
  border: 0;

  ul.navbar-nav > li a {
    padding: 17px 20px;

    &.btn {
      padding: 9px 8px;
    }
  }

  li li a {
    padding: 14px 20px;
  }

  .navbar-nav > li > a, .navbar-text {
    color: $top-nav-text;
    font-weight: 300;
    line-height: 1.5;
    font-size: .875em;
    letter-spacing: .05em;
  }

  .navbar-nav > {

    li > a {
      &:focus, &:hover, &.active {
        color: $white;
        background-color: transparent;
      }
    }

    .disabled > a {
      color: #555;
      background-color: transparent;

      &:focus, &:hover {
        color: #555;
        background-color: transparent;
      }
    }
  }

  form {
    display: inline;
  }

  a.btn-default,
  .open a.btn-default,
  .open a.btn-default:hover {
    background: transparent;
    border: 1px solid $top-nav-text;
    box-shadow: none;
  }
  .open a.btn-default,
  .open a.btn-default:hover {
    color: $white;
  }

  tags-input .host,
  .btn {
    margin: 7px 5px;
  }

  tags-input .host {
    .input {
      height: 32px;
      margin: 0;
      @include transition(all 500ms);

      &.focused,
      &:focus {
        min-width: 300px;
      }
    }

    .form-control {
      height: 41px;
    }
  }
}

// remove listen
#listen-nav-li {
  display: none;
}