/************************************************************************
SUBNAV
************************************************************************/

.cn-sub-navbar-fixed-top {
  background-color: $top-sub-nav-bg;
  width: 100%;
  padding: 25px 0 0;
  z-index: 1020;

  .btn-options {
    margin: 15px 0;

    .btn-transparent:last-child {
      padding-right: 0;
    }
  }

  .sub-sub-nav {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;

    .group-name {
      text-decoration: none;
      margin-bottom: 20px;
      display: inline-block;

      h1 {
        display: inline-block;

        .icn-back {
          vertical-align: bottom;
          margin-bottom: 3px;
          margin-right: 10px;
        }
      }
    }

    .tabs {
      > div {
        display: inline-block;
        border-bottom: 5px solid $black;
        margin-right: 50px;

        a {
          color: $silver;
          font-weight: 300;
          line-height: 45px;
          letter-spacing: 0.2px;
          padding: 15px 0;

          &:hover {
            text-decoration: none;
          }
        }

        &.active, &:hover {
          a {
            color: $quartz;
            border-bottom: 5px solid $maya;
          }
        }
      }
    }
  }

  label {
    color: $white;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: .04em;
  }

  > form > label, strong {
    font-size: 1em;
    line-height: 1.9;
    font-weight: 200;
    letter-spacing: .04em;
    color: $top-sub-nav-secondary-text;

    &:first-child {
      color: $white;
    }
  }

  > form > div.pull-right {
    label {
      font-size: .8125em;
      font-weight: 400;
    }
    select {
      background: transparent;
      border: 0;
      font-size: .8125em;
      @include box-shadow(none);
    }
  }

  .company-selection {
    padding-bottom: 25px;

    a {
      h1 {
        display: inline-block;
      }

      .icn-caret {
        margin-left: 15px;
        margin-top: -3px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .dropdown-menu {
      top: 60px;

      &.reports-company-menu {
        left: 320px;
      }
    }
  }

  .groups-list-header-nav {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
  }

}