/************************************************************************
SUBNAV
************************************************************************/

// cn-sub-navbar-fixed-top is an ugly name
// let's switch to cn-mast-head
.cn-sub-navbar-fixed-top {
  min-height: 92px;
}

.cn-mast-head {
  position: relative;
  min-height: 82px;
}

.cn-sub-navbar-fixed-top,
.cn-mast-head {
  background-color: $top-sub-nav-bg;
  width: 100%;
  padding: 0;
  z-index: 1020;

  .btn-options {
    margin: 10px 0;

    .btn-transparent:last-child {
      padding-right: 0;
    }

    a {
      opacity: .75;
      transition: .1s opacity;

      &:hover {
        opacity: 1;
      }
    }
  }

  .cn-mast-head-main {
    min-height: 72px;
  }

  .cn-heading-back,
  h1 {
    float: left;
    padding: 10px 6px 0 0;
    margin: 0;
    line-height: 29px;
  }

  .cn-heading-title {
    float: left;
    position: relative;
  }

  .cn-mast-head-inner {
    position: relative;
  }

  .cn-mast-head-sub {
    background-color: lighten($top-sub-nav-bg, 5%);
  }

  .cn-mast-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .cn-actions {
    position: absolute;
    right: -20px;
    top: 100%;
    margin-top: -17px;
    width: 300px;

    //floating-action-button {
    //  display: block;
    //}

    floating-action-button {
      clear: both;
      padding-bottom: 15px;
      float: right;
    }

    .cn-floaters {
      transition: .1s height;
      overflow: hidden;
      margin: -25px -10px;
      clear: both;
      float: right;
      width: 100%;

      .cn-floaters-inner {
        padding: 25px 10px;
        float: right;
      }
    }

    .tooltip {
      width: auto!important;
      margin-right: 15px;
    }

    .tooltip-inner {
      white-space: nowrap;
      padding: 10px 15px
    }
  }

  .dropdown-menu {
    max-height: none;
    //padding-bottom: 20px;

    > div {
      float: left;
      max-height: 500px;
      overflow: auto;
    }

    a {
      display: block;
      color: #3F3F41;
      font-weight: 400;
      padding: 6px 12px;

      &:hover {
        text-decoration: none;
        //color: $primary-color;
        background-color: $light-quartz;
      }

      &.selected {
        font-weight: bold;
        background-color: $quartz;
      }
    }
  }

  .sub-sub-nav,
  .cn-mast-head-inner {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;

    .group-name {
      text-decoration: none;
      margin-bottom: 20px;
      display: inline-block;

      h1 {
        display: inline-block;

        .icn-back {
          vertical-align: bottom;
          margin-bottom: 3px;
          margin-right: 10px;
        }
      }
    }
  }

  .tabs {
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;

    > div,
    li {
      display: inline-block;
      margin-right: 50px;
      line-height: 26px;

      a {
        color: $silver;
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 1px;
        padding: 15px 0;
        text-transform: uppercase;
        display: inline-block;

        &:hover {
          text-decoration: none;
        }
      }

      &.active, &:hover {
        a {
          color: $quartz;
          padding: 15px 0 10px;
          border-bottom: 5px solid $maya;
        }
      }
    }
  }

  label {
    color: $white;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: .04em;
  }

  > form > label, strong {
    font-size: 1em;
    line-height: 1.9;
    font-weight: 200;
    letter-spacing: .04em;
    color: $top-sub-nav-secondary-text;

    &:first-child {
      color: $white;
    }
  }

  > form > div.pull-right {
    label {
      font-size: .8125em;
      font-weight: 400;
    }
    select {
      background: transparent;
      border: 0;
      font-size: .8125em;
      @include box-shadow(none);
    }
  }

  .company-selection {
    padding-bottom: 25px;

    a {
      h1 {
        display: inline-block;
      }

      .icn-caret {
        margin-left: 15px;
        margin-top: -3px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    .dropdown-menu {
      top: 60px;

      &.reports-company-menu {
        left: 320px;
      }
    }
  }

  .groups-list-header-nav {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
  }

}
