#toast-container {
 
  span {
    color: $cn-silver;
    font-weight: 500;
  }

  &.toast-bottom-center {
    > div {
      width: 40%;
    }
    a {
      color: $cn-aluminum;
      float: right;
    }
    * {
      background-color: $cn-black-1;
    }
  }

  &.action-toast-bottom-center {
    > div {
      width: 60%;
    }
  }

  &.full-width-toast-bottom {
    > div {
      z-index: 1000;
      width: 100%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      background: $cn-white;
      box-shadow: 0px 10px 20px 0px $cn-black-1;
    }

    a:not(.btn) {
      color: $cn-aluminum;
    }

    span {
      color: $cn-black-1;
      &.label {
        background-color: $cn-blue-2;
        padding: 10px;
        margin-right: 10px;
        color: $cn-silver;
        font-weight: 100;
        min-width: 30px;
      }
    }
  }

  > div {
    position: fixed;
    z-index: 9000;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 16px;
    background: $cn-black-1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}


:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave
{ 
    -webkit-transition: 500ms cubic-bezier(0.44, 0.01, 0.56, 1.0) all;
    -moz-transition: 500ms cubic-bezier(0.44, 0.01, 0.56, 1.0) all;
    -ms-transition: 500ms cubic-bezier(0.44, 0.01, 0.56, 1.0) all;
    -o-transition: 500ms cubic-bezier(0.44, 0.01, 0.56, 1.0) all;
    transition: 500ms cubic-bezier(0.44, 0.01, 0.56, 1.0) all;
} 

:not(.no-enter)#toast-container > div.ng-enter.ng-enter-active, 
:not(.no-leave)#toast-container > div.ng-leave {
    bottom: 0px;
}

:not(.no-leave)#toast-container > div.ng-leave.ng-leave-active,
:not(.no-enter)#toast-container > div.ng-enter {
    bottom: -370px;
}
