/************************************************************************
TOOL BAR
************************************************************************/

.navbar-form {
  padding: 3px 0 0 0;
  min-height: 43px;

  tags-input .host,
  .tags.form-control {
    min-width: 300px;
  }
}

.navbar-form label {
  font-size: .75em;
  font-weight: 400;
  margin-right: .25em;
}

.navbar-form select {
  margin-right: .5em;
}

.tool-bar {
  width: $page-width;
}

.tool-bar,
.tool-bar-flex {
  background: $cn-silver;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  border: 0;
  z-index: 11;
  margin-top: 15px;

  .border-right {
    border-right: 1px solid #D8DAE1;
    padding: 0 20px;

    &:first-child {
      border-left: 0;
    }
  }

  .filter-types {

    .dropdown-toggle {
      font-weight: 500;
//      line-height: 35px;

      .meta {
        font-weight: 300;
      }

//      .icn-caret-sm {
//        margin-left: 5px;
//        margin-top: -2px;
//      }

      &:hover {
        text-decoration: none;
      }
    }
  }

  button {
    margin-right: .25em;
  }

  .btn {
    padding: 5px 10px;

    &.btn-transparent {
      padding: 5px 0;
    }
  }

  .btn-group .btn {
    margin: 0;
  }

  .right-hand-side-nav {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .dropdown-menu {
    .tooltip {
      margin-left: -28px;
      margin-top: 30px;
    }
  }

  label.spyglass {
    color: #535353;
    float: left;
    margin: 7px 0 7px 10px;
    cursor: pointer;
  }

  tags-input {
    float: left;

    .tags {
      box-shadow: none;
      background: transparent;
    }
  }

  input.form-control,
  input.form-control:focus,
  .input.form-control,
  .input.form-control:focus {
    background: transparent;
    border: 0;
    @include box-shadow(none);
  }
}

.tool-bar-text {
  color: #ffffff;
  font-size: 25px;
}

.ad-sets-tool-bar {
  .dropdown-menu {
    .tooltip {
      margin-left: -30px;
    }
  }
}

.selected-count {
  margin-right: 10px;
}
