/************************************************************************
TYPOGRAPHY
************************************************************************/

body, button, input, optgroup, select, textarea {
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: $charcoal;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.8;
}

.bold {
  font-weight: 500;
}

.right {
  text-align: right;
}

.supporting {
  font-size: 11px;
  color: $grey;
}

a.link {
  color: $sapphire;
}

h1, .h1 {
  font-size: 20px;
  font-weight: 200;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, label {
  color: $heading;
}

//h1, .step-header {
//  font-family: Sentinel SSm A, Sentinel SSm B, Helvetica Neue, Helvetica, Arial;
//}
